:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
}

header {
  background-color: #193267;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.5rem;

  nav {

    ul {
      display: flex;
      justify-content: flex-start;
      margin: 0;

      li {
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          margin-right: 40px;
          padding: 10px;

          &.active {
            border-radius: 10px;
            background-color: rgba(255,255,255, .5);
          }
        }
      }
    }
  }
}

main {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}
